<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Freight Approval Mumbai">
    <ng-template mat-tab-label>
      <i class="fas fa-plane mr-2 text-orange"></i>
      <span class="text-orange">Freight Approval Mumbai</span>
    </ng-template>
    <app-bill-approval/>
  </mat-tab>
  <mat-tab label="Freight Approval Nagpur">
    <ng-template mat-tab-label>
      <i class="fas fa-plane mr-2 text-orange"></i>
      <span class="text-orange">Freight Approval Nagpur</span>
    </ng-template>
    <app-bill-approval-nagpur/>
  </mat-tab>
<!--  <mat-tab label="Freight Approval Nagpur Pickup">-->
<!--    <ng-template mat-tab-label>-->
<!--      <i class="fas fa-plane mr-2 text-orange"></i>-->
<!--      <span class="text-orange">Freight Approval Nagpur Pickup</span>-->
<!--    </ng-template>-->
<!--    <app-bill-approval-nagpur-pickup/>-->
<!--  </mat-tab>-->
  <mat-tab label="Freight Approval Rajkot">
    <ng-template mat-tab-label>
      <i class="fas fa-plane mr-2 text-orange"></i>
      <span class="text-orange">Freight Approval Rajkot</span>
    </ng-template>
    <app-bill-approval-rajkot/>
  </mat-tab>
  <mat-tab label="Freight Approval Chakan">
    <ng-template mat-tab-label>
      <i class="fas fa-plane mr-2 text-orange"></i>
      <span class="text-orange">Freight Approval Chakan</span>
    </ng-template>
    <app-bill-approval-chakan/>
  </mat-tab>
  <mat-tab label="Freight Approval Rudrapur">
    <ng-template mat-tab-label>
      <i class="fas fa-plane mr-2 text-orange"></i>
      <span class="text-orange">Freight Approval Rudrapur</span>
    </ng-template>
    <app-bill-approval-rudrapur/>
  </mat-tab>
</mat-tab-group>
