<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Freight Bill Mumbai">
    <ng-template mat-tab-label>
      <i class="fas fa-plane mr-2 text-orange"></i>
      <span class="text-orange">Freight Bill Mumbai</span>
    </ng-template>
    <app-fright-bill/>
  </mat-tab>
  <mat-tab label="Freight Bill Nagpur">
    <ng-template mat-tab-label>
      <i class="fas fa-plane mr-2 text-orange"></i>
      <span class="text-orange">Freight Bill Nagpur</span>
    </ng-template>
  </mat-tab>
  <mat-tab label="Freight Bill Nagpur Pickup">
    <ng-template mat-tab-label>
      <i class="fas fa-plane mr-2 text-orange"></i>
      <span class="text-orange">Freight Bill Nagpur Pickup</span>
    </ng-template>
  </mat-tab>
  <mat-tab label="Freight Bill Rajkot">
    <ng-template mat-tab-label>
      <i class="fas fa-plane mr-2 text-orange"></i>
      <span class="text-orange">Freight Bill Rajkot</span>
    </ng-template>
  </mat-tab>
  <mat-tab label="Freight Bill Chakan">
    <ng-template mat-tab-label>
      <i class="fas fa-plane mr-2 text-orange"></i>
      <span class="text-orange">Freight Bill Chakan</span>
    </ng-template>
  </mat-tab>
  <mat-tab label="Freight Bill Rudrapur">
    <ng-template mat-tab-label>
      <i class="fas fa-plane mr-2 text-orange"></i>
      <span class="text-orange">Freight Bill Rudrapur</span>
    </ng-template>
  </mat-tab>
</mat-tab-group>
