<div class="row">
  <div class="col-lg-12 mt-2">
    <div class="row">
      <div *ngFor="let u of users" class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
        <div class="card bg-light d-flex flex-fill">
          <div class="card-header text-muted border-bottom-0">
            {{u.role.roleName}}
          </div>
          <div class="card-body pt-0">
            <div class="row">
              <div class="col-7">
                <h2 class="lead"><b>{{u.name}}</b></h2>
                <p class="text-muted text-sm"><b>About: </b> {{u.role.roleDescription}} </p>
                <ul class="ml-4 mb-0 fa-ul text-muted">
                  <li class="small">
                    <span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: {{u.address}}
                  </li>
                  <li class="small">
                    <span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + 91 - {{u.contact}}
                  </li>
                </ul>
              </div>
              <div class="col-5 text-center">
                <img [src]="u.imageUrl" alt="user-avatar" class="img-custom-circle">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
